@model coinpanic_airdrop.Models.AddressSummary


<div class="alert @(Model.Empty ? "alert-danger" :"alert-success" )" role="alert">
    @if (!Model.Empty)
    {
        @*@Html.ActionLink("Claim " + Model.Coin, "NewClaim", "Claim", new { @class = "btn btn-primary btn-sm active", @role = "button", @data_toggle = "tooltip", @title = Model.CoinName, @target="_blank" })*@
        <a href="@Url.Action("NewClaim", "Claim", new { coin = Model.Coin, addresses = String.Join(",", Model.Addresses) })" class="btn btn-primary btn-sm active" role="button" data_toggle="tooltip" title="Model.CoinName" target="_blank">
            Claim @Model.Coin <span class="fa fa-external-link"></span>
        </a>
        
    }
    @if (Model.SearchError)
    {
        <text>Error searching @Model.Coin</text>
    }
    else
    {
        <text>Found @Model.Balance @Model.Coin @(Model.UsedExplorer ? "" : "*")</text>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                container: 'body'
            })
        });
    </script>
}