@model coinpanic_airdrop.Models.IndexModel

@{
    ViewBag.Title = "Coinpanic.com";
}

<div class="jumbotron">
    <h1 class="display-4">Coinpanic Bitcoin Services</h1>
    <p class="lead">Coinpanic.com is a website to assist users of Bitcoin and related cryptocurrencies.</p>
</div>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Do not hand out your private keys or seed words to anyone.</h4>
    <p>Even though you may trust the person you sent them to, your keys have been revealed.  They can be stolen by malware, or a malicious actor.  Coinpanic.com, through the offline signing method, is able to split your coins without you having to provide anyone your private keys.  You can even sign your transaction without an internet connection.</p>
</div>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> New claiming tool update</h4>
    <p>The claiming tool was greatly simplified.  You can now claim using a BIP39 seed with optional passphrase instead of the private keys.  This will make claiming forks much easier for users of hardware wallets like Trezor and Ledger.</p>
</div>

@foreach (var d in Model.CoinInfo)
{
    <div class="alert @d.Value.AlertClass" role="alert">
        <h4 class="alert-heading">@d.Value.CoinName @d.Value.CoinHeaderMessage</h4>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        @if (d.Value.Status == "offline")
                        {

                        }
                        else
                        {
                            @Html.ActionLink("Claim " + d.Key + " (5% fee)", "NewClaim", "Claim", new { coin = d.Key }, new { @class = "btn btn-primary btn-sm active", @role = "button" })
                        }
                    Exchange: <a href="@d.Value.ExchangeURL">@d.Value.Exchange</a>
                </p>
                </div>
                <div class="col-12 col-md-auto">
                    <p>
                        @*@d.Value.Nodes Connected nodes*@
                    </p>
                </div>
                <div class="col col-lg-1 pull-right">
                    @if (d.Value.Status == "online")
                    {
                        <span class="badge badge-success">@d.Value.Status</span>
                    }
                    else if (d.Value.Status == "offline")
                    {
                        <span class="badge badge-danger">@d.Value.Status</span>
                    }
                </div>
            </div>
        </div>
        <p>@d.Value.CoinNotice</p>
        
    </div>
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Signing tool now available for Mac.</h4>
    <p><a href="~/Tools/CoinPanicSignMac.tar.gz" aria-pressed="true"> Download <i class="fa fa-apple" aria-hidden="true"></i></a></p>
</div>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Signing tool now available for Linux.</h4>
    <p><a href="~/Tools/CoinPanicSign.tar.gz" aria-pressed="true"> Download <i class="fa fa-linux" aria-hidden="true"></i></a></p>
</div>

@*<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">New signing tool with graphical interface.</h4>
    <p>Try the new signing tool on your next claim.  <a href="~/Tools/CoinPanicSignTxUI.zip" aria-pressed="true"> Download <i class="fa fa-windows" aria-hidden="true"></i></a></p>
</div>*@
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Bech32 supported for SegWit enabled forks</h4>
    <p>We've successfully implemented claiming Bech32 addresses for our process (including electrum keys).</p>
</div>
<div class="card">
    <h3 class="card-header">Upcoming Forks</h3>
    <div class="form-group">
        <div class="col-sm-10">
            <br />
            <h4 class="card-title">Bitcoin Atom</h4>
            <p>Homepage: <a href="https://bitcoinatom.io/">https://bitcoinatom.io/</a></p>
            <p>BTC holders will receive 1:1 Bitcoin Atom (BCA) at the time of the fork, approximately January 25-26 (block to be announced soon).</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <br />
            <h4 class="card-title">United Bitcoin Phase 2</h4>
            <p>Homepage: <a href="https://www.ub.com/">https://www.ub.com/</a></p>
            <p>https://www.ub.com/news/detail?column=1&id=288 From UBTC: We are expediting the community airdrop and distributing the remainder of the airdrop at once. This means that instead of receiving vested final payments of your eligible UBTC monthly over 4 years, users who registered for the final snapshot will receive in one last airdrop, which can be withdrawn on UB.com in the same manner as previous months.
            Community members who have not registered for the airdrop will also have one last chance to register on the the final snapshot dates of April 1st (HSR, QTUM), 11th (ETH, LTC), and 21st (INK) to claim their eligible UBTC.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px;">
        <img src="~/Content/claim_process.png" class="img-fluid">
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Bitcoin</h2>
            <p>
                Bitcoin is an open-source peer-to-peer electronic currency.
            </p>
            <p><a class="btn btn-default" href="https://bitcoin.org/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Bitcoin Forks</h2>
            <p>
                Bitcoin forks are branches off of the main Bitcoin blockchain which define a separate network of consensus as a new cryptocurrency.
                Forks are inherently  risky - be careful when claiming forked currencies using your bitcoin addresses.  Move all bitcoins to a new address before attempting to do so.
            </p>
            <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/List_of_Bitcoin_forks">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Claiming Forked Coins</h2>
            <p>It is not always straightforward to claim forked coins.  Coinpanic.com can help you.</p>
            <p><a class="btn btn-default" href="http://www.coinpanic.com/Home/Claim">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

