@model coinpanic_airdrop.Models.IndexModel

@{
    ViewBag.Title = "Coinpanic.com";
}

<div class="jumbotron">
    <h1 class="display-4">Coinpanic Bitcoin Services</h1>
    <p class="lead">Coinpanic.com is a website to assist users of Bitcoin and related cryptocurrencies.</p>
    <p>Coinpanic.com is helping Bitcoin users safely claim, hold, or sell coins on blockchains which have forked from the bitcoin main chain.
    Coinpanic only needs to know your public Bitcoin address to claim your coins, and does not require the user to download any blockchains.</p>
    <p>Future services include technical tutorials, block explorers, transaction monitoring, and lightning network services.</p>
</div>

<div class="card">
    <h5 class="card-header bg-dark text-light">Claim Bitcoin Forks (5% Fee)</h5>
    <div class="card-body">
        <table class="table table-responsive table-hover">
            @*<tr>
                <th></th>
                <th></th>
                <th>Exchanges</th>
                <th>Status</th>
            </tr>*@
            @foreach (var i in Model.CoinInfo)
            {
            <tr class="@i.Value.AlertClass">
                <td>
                    @if (i.Value.Status == "offline")
                    {
                        @Html.ActionLink("Claim " + i.Key, "NewClaim", "Claim", new { coin = i.Key }, new { @class = "btn btn-primary btn-sm btn-block disabled", @role = "button" })
                    }
                    else
                    {
                        @Html.ActionLink("Claim " + i.Key, "NewClaim", "Claim", new { coin = i.Key }, new { @class = "btn btn-primary btn-sm btn-block active", @role = "button" })
                    }
                </td>
                
                <td>
                    <a href="@i.Value.ExchangeURL">@i.Value.Exchange</a>
                </td>
                <td>
                    @i.Value.CoinNotice
                </td>
                <td>
                    @if (i.Value.ExplorerURL != null && i.Value.ExplorerURL != "")
                    {
                        <a href="@i.Value.ExplorerURL">Explorer</a>
                    }
                </td>
                <td>
                    @if (i.Value.Status == "online")
                    {
                        <span class="badge badge-success">@i.Value.Status</span>
                    }
                    else if (i.Value.Status == "offline")
                    {
                        <span class="badge badge-danger">@i.Value.Status</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">@i.Value.Status</span>
                    }
                </td>
            </tr>
            }
        </table>
    </div>
</div>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Do not provide your private keys or seed words to anyone.</h4>
    <p>Even though you may trust the person you sent them to, your keys have been revealed.  They can be stolen by malware, or a malicious actor.  Coinpanic.com, through the offline signing method, is able to split your coins without you having to provide anyone your private keys.  You can even sign your transaction without an internet connection.</p>
</div>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Signing tool now available for Windows, Linux, and Mac.</h4>
    <p>
        <a href="~/Tools/CoinpanicSignTx.exe" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><span class="fa fa-windows"></span> Windows</a>
        <a href="~/Tools/CoinPanicSign.tar.gz" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><span class="fa fa-linux" aria-hidden="true"></span> Linux</a>
        <a href="~/Tools/CoinPanicSignMac.tar.gz" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><span class="fa fa-apple" aria-hidden="true"></span> Mac</a>
    </p>
</div>

<div class="container text-center">
    <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px;">
        <img src="~/Content/claim_process.png" class="img-fluid">
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Bitcoin</h2>
            <p>
                Bitcoin is an open-source peer-to-peer electronic currency.
            </p>
            <p><a class="btn btn-default" href="https://bitcoin.org/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Bitcoin Forks</h2>
            <p>
                Bitcoin forks are branches off of the main Bitcoin blockchain which define a separate network of consensus as a new cryptocurrency.
                Forks are inherently  risky - be careful when claiming forked currencies using your bitcoin addresses.  Move all bitcoins to a new address before attempting to do so.
            </p>
            <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/List_of_Bitcoin_forks">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Claiming Forked Coins</h2>
            <p>It is not always straightforward to claim forked coins.  Coinpanic.com can help you.</p>
            <p><a class="btn btn-default" href="http://www.coinpanic.com/Home/Claim">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

