@model coinpanic_airdrop.Models.IndexModel

@{
    ViewBag.Title = "Coinpanic.com";
}

<div class="jumbotron">
    <h1 class="display-4">Coinpanic Bitcoin Services</h1>
    <p class="lead">Coinpanic.com is a website to assist users of Bitcoin and related cryptocurrencies.</p>
</div>

<div class="card">
    <h5 class="card-header bg-dark text-light">Bitcoin Lightning Network</h5>
    <div class="card-body">
        <div class="pl-2 alert alert-success" role="alert">
            @Html.ActionLink("Community Jar", "CommunityJar", "Lightning", new { }, new { @class = "btn btn-primary btn-sm", @role = "button" }) A Lightning Network faucet on mainnet.
        </div>
    </div>
</div>
<br />
<div class="card">
    <h5 class="card-header bg-dark text-light">Claim Bitcoin Forks (5% Fee)</h5>
    <div class="card-body">
        <div class="alert alert-success" role="alert">
            Coinpanic.com is helping Bitcoin users safely claim, hold, or sell coins on blockchains which have forked from the bitcoin main chain.
            Coinpanic only needs to know your public Bitcoin address, and does not require users to download blockchains.
        </div>
        <table class="table table-responsive table-hover">
            <tr class="bg-success">
                <td>
                    @Html.ActionLink("Search all forks", "MultiCoin", "BlockChain", new { }, new { @class = "btn btn-primary btn-sm btn-block active", @role = "button", @data_toggle = "tooltip", @title = "Search all supported forks" })
                    
                </td>

                <td>
                    <i class="fa fa-bullhorn"></i> New! Search all supported forks at once
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    <span class="badge badge-success">online</span>
                </td>
            </tr>
            @foreach (var i in Model.CoinInfo)
            {
            <tr class="@i.Value.AlertClass">
                <td>
                    @if (i.Value.Status == "offline")
                    {
                        @Html.ActionLink("Claim " + i.Key, "NewClaim", "Claim", new { coin = i.Key }, new { @class = "btn btn-primary btn-sm btn-block disabled", @role = "button", @data_toggle = "tooltip", @title = i.Value.CoinName })
                    }
                    else
                    {
                        @Html.ActionLink("Claim " + i.Key, "NewClaim", "Claim", new { coin = i.Key }, new { @class = "btn btn-primary btn-sm btn-block active", @role = "button", @data_toggle = "tooltip", @title = i.Value.CoinName })
                    }
                </td>
                
                <td>
                    @i.Value.CoinNotice
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span data-toggle="tooltip" title="Exchanges" class="fa fa-university"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var j in i.Value.Exchanges)
                            {
                                <a class="dropdown-item" href="@j.URL" target="_blank">@j.Name</a>
                            }
                        </div>
                    </div>
                    @*<a href="@i.Value.ExchangeURL">@i.Value.Exchange</a>*@
                </td>
                <td>
                    @if (i.Value.ExplorerURL != null && i.Value.ExplorerURL != "")
                    {
                        <a data-toggle="tooltip" title="Explorer" href="@i.Value.ExplorerURL" class="btn btn-link" target="_blank"><span class="fa fa-search"></span></a>
                    }
                </td>
                <td>
                    @if (i.Value.Status == "online")
                    {
                        <span class="badge badge-success">@i.Value.Status</span>
                    }
                    else if (i.Value.Status == "offline")
                    {
                        <span class="badge badge-danger">@i.Value.Status</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">@i.Value.Status</span>
                    }
                </td>
            </tr>
            }
        </table>
    </div>
</div>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Do not provide your private keys or seed words to anyone.</h4>
    <p>Even though you may trust the person you sent them to, your keys have been revealed.  They can be stolen by malware, or a malicious actor.  Coinpanic.com, through the offline signing method, is able to split your coins without you having to provide anyone your private keys.  You can even sign your transaction without an internet connection.</p>
</div>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Signing tool now available for Windows, Linux, and Mac.</h4>
    <p>
        <a href="~/Tools/CoinpanicSignTx.exe" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><span class="fa fa-windows"></span> Windows</a>
        <a href="~/Tools/CoinPanicSign.tar.gz" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><span class="fa fa-linux" aria-hidden="true"></span> Linux</a>
        <a href="~/Tools/CoinPanicSignMac.tar.gz" class="btn btn-primary btn-sm active" role="button" aria-pressed="true"><span class="fa fa-apple" aria-hidden="true"></span> Mac</a>
    </p>
</div>

<div class="container text-center">
    <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px;">
        <img src="~/Content/claim_process.png" class="img-fluid">
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Bitcoin</h2>
            <p>
                Bitcoin is an open-source peer-to-peer electronic currency.
            </p>
            <p><a class="btn btn-default" href="https://bitcoin.org/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Bitcoin Forks</h2>
            <p>
                Bitcoin forks are branches off of the main Bitcoin blockchain which define a separate network of consensus as a new cryptocurrency.
                Forks are inherently  risky - be careful when claiming forked currencies using your bitcoin addresses.  Move all bitcoins to a new address before attempting to do so.
            </p>
            <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/List_of_Bitcoin_forks">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Claiming Forked Coins</h2>
            <p>It is not always straightforward to claim forked coins.  Coinpanic.com can help you.</p>
            <p><a class="btn btn-default" href="http://www.coinpanic.com/Home/Claim">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                container: 'body'
            });
        });
    </script>
}