@{
    ViewBag.Title = "Coinpanic.com";
}

<div class="jumbotron">
    <h1 class="display-4">Coinpanic Bitcoin Services</h1>
    <p class="lead">Coinpanic.com is a website to assist users of Bitcoin and related cryptocurrencies.</p>
</div>

<h2>Supported Coins</h2>
<div id="accordion" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
                <span class="badge badge-info">Claims Offline</span>
                <a class="collapsed" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseOne">
                    Bitcoin Diamond (BCD)
                </a>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <p>Homepage: <a href="http://btcd.io">btcd.io</a></p>
                <p>Exchanges: yobit.net</p>
                <p>
                    @Html.ActionLink("Claim BCD", "NewClaim", "Claim", new { coin = "BCD" }, new { @class = "btn btn-primary btn-lg active", @role = "button" })
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
                <span class="badge badge-info">Claims Offline</span> 
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
                    Super Bitcoin (SBTC)
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <p>Homepage: <a href="http://supersmartbitcoin.com/">supersmartbitcoin.com</a></p>
                <p>Exchanges: yobit.net</p>
                <p>
                    @Html.ActionLink("Claim SBTC", "NewClaim", "Claim", new { coin = "SBTC" }, new { @class = "btn btn-primary btn-lg active", @role = "button" })
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
                <span class="badge badge-info">Claims Offline</span> 
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
                    Bitcoin Gold (BTG)
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <p>Homepage: <a href="https://bitcoingold.org/">bitcoingold.org</a></p>
                <p>Exchanges: yobit.net</p>
                <p>
                    @Html.ActionLink("Claim BTG", "NewClaim", "Claim", new { coin = "BTG" }, new { @class = "btn btn-primary btn-lg active", @role = "button" })
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingFour">
            <h5 class="mb-0">
                <span class="badge badge-info">Claims Offline</span> 
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">
                    Bitcore (BTX)
                </a>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <p>Homepage: </p>
                <p>Exchanges: </p>
                <p>
                    @Html.ActionLink("Claim BTX", "NewClaim", "Claim", new { coin = "BTX" }, new { @class = "btn btn-primary btn-lg active", @role = "button" })
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingFive">
            <h5 class="mb-0">
                <span class="badge badge-info">Claims Offline</span> 
                <a class="collapsed" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">
                    Bitcoin Cash (BCH)
                </a>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <p>Homepage: </p>
                <p>Exchanges: </p>
                <p>
                    @Html.ActionLink("Claim BCH", "NewClaim", "Claim", new { coin = "BCH" }, new { @class = "btn btn-primary btn-lg active", @role = "button" })
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingSix">
            <h5 class="mb-0">
                <span class="badge badge-info">Claims Offline</span> 
                <a class="collapsed" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">
                    United Bitcoin (UBTC)
                </a>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                <p>Homepage: </p>
                <p>Exchanges: </p>
                <p>
                    @Html.ActionLink("Claim UBTC", "NewClaim", "Claim", new { coin = "UBTC" }, new { @class = "btn btn-primary btn-lg active", @role = "button" })
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingSeven">
            <h5 class="mb-0">
                <span class="badge badge-info">Claims Offline</span> 
                <a class="collapsed" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">
                    Bitcoin Segwit2x (B2X)
                </a>
            </h5>
        </div>
        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                <p>Homepage: </p>
                <p>Exchanges: https://exrates.me</p>
                <p>
                    @Html.ActionLink("Claim B2X", "NewClaim", "Claim", new { coin = "B2X" }, new { @class = "btn btn-primary btn-lg active", @role = "button" })
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingBTW">
            <h5 class="mb-0">
                <span class="badge badge-info">Claims Offline</span>
                <a class="collapsed" data-toggle="collapse" href="#collapseBTW" role="button" aria-expanded="false" aria-controls="collapseBTW">
                    Bitcoin World (BTW)
                </a>
            </h5>
        </div>
        <div id="collapseBTW" class="collapse" role="tabpanel" aria-labelledby="headingBTW" data-parent="#accordion">
            <div class="card-body">
                <p>Homepage: </p>
                <p>Exchanges: </p>
                <p>
                    @Html.ActionLink("Claim B2X", "NewClaim", "Claim", new { coin = "BTW" }, new { @class = "btn btn-primary btn-lg active", @role = "button" })
                </p>
            </div>
        </div>
    </div>
</div>
<img src="~/Content/claim_process.png" />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Bitcoin</h2>
            <p>
                Bitcoin is an open-source peer-to-peer electronic currency.
            </p>
            <p><a class="btn btn-default" href="https://bitcoin.org/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Bitcoin Forks</h2>
            <p>
                Bitcoin forks are branches off of the main Bitcoin blockchain which define a seperate network of concensus as a new cryptocurrency.
                Forks are inherintly risky - be careful when claiming forked currencies using your bitcoin addresses.  Move all bitcoins to a new address before attempting to do so.
            </p>
            <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/List_of_Bitcoin_forks">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Claiming Forked Coins</h2>
            <p>It is not always straightforward to claim forked coins.  Coinpanic.com can help you.</p>
            <p><a class="btn btn-default" href="http://www.coinpanic.com/Home/Claim">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

